tensorflow-gpu==1.4.0
keras
scikit-learn
jupyter
albumentations==0.1.2
appdirs==1.4.3
astroid==2.0.4
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
cloudpickle==0.5.3
colorama==0.3.9
cycler==0.10.0
Cython==0.28.5
dask==0.18.2
decorator==4.3.0
fire==0.1.3
future==0.16.0
idna==2.7
imgaug==0.2.6
isort==4.3.4
kaggle==1.4.6
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==2.2.3
mccabe==0.6.1
munch==2.3.2
networkx==2.1
ninja==1.8.2.post2
numpy==1.15.0
opencv-python==3.4.2.17
pandas==0.23.4
Pillow==5.2.0
pretrainedmodels==0.7.4
pycparser==2.18
pylint==2.1.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==0.5.2
requests==2.20.0
scikit-image==0.14.0
scipy==1.1.0
six==1.11.0
tabulate==0.8.2
toolz==0.9.0
torch==0.4.1
torchvision==0.2.1
tqdm==4.24.0
typed-ast==1.1.0
urllib3==1.24.2
wrapt==1.10.11
